webStore/WebStore 1/WebStore 1/Updates/Update.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Upd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="xs:string"  />
              <xs:element name="version" type="xs:string"  />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"  />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>