webStore/WebStore 1/WebStore 1/Applications/Application.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="App" >
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string"  name="Description"/>
              <xs:element type="xs:string"  name="Author"/>
              <xs:element type="xs:string"  name="ApplicationId"/>
              <xs:element type="xs:string"  name="version"/>
            </xs:sequence>
            <xs:attribute type="xs:string" use="required" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>